@{ 
    ViewData["Title"] = "Home";
}

<div class="container home">
    <div class="row">
        <h2 class="light-text">Mission Briefing</h2>
        <div class="col-md-12 pt-2 bg-light opac-85">
            <p>
                Your students will serve as science experts and participate in a unique
                learning experience. Linked via the Internet with Mission Control, they&apos;ll
                participate in a simulated &quot;e-Mission,&quot; confronting real-life
                emergency events like hurricanes and volcanic eruptions.
            </p>
            <p>
                Challenger Learning Center seeks to partner with teachers and their students
                who serve as Emergency Response Teams (ERTs). ERT members learn new science
                skills and explore an emerging science called Earth system science. The
                students have an opportunity to work under pressure, exercise leadership,
                initiative, and cooperation. Each mission&apos;s success depends upon partnership.
            </p>
            <p>
                Students begin the simulation by selecting an area of expertise. They
                must decide which facet of Earth system science they are interested in
                and want to learn more about- the biosphere, lithosphere, atmosphere or
                hydrosphere. Then they are assigned to an ERT and complete a team application-with
                resumes. In the subsequent weeks they engage in preparatory activities
                during which they collect data about emergency events, analyze the data,
                and learn to make logical recommendations based upon scientific analysis.
                All of this leads to the culminating event: Mission Day.
            </p>
        </div>
    </div>
    <div class="row bg-light opac-85">
        <div class="col col-lg-4">
            <h4>Your Scheduled Mission</h4>
            <ul>
                <li>September 4th, 1996</li>
            </ul>
        </div>
        <div class="col col-lg-4">
            <h4>Mission Priorities</h4>
            <ul>
                <li>
                    Save the lives of the residents of the Caribbean island of Montserrat.
                    Last census figures from 1994 reported 13,000 residents, but recent evacuation
                    efforts have brought that number much lower.
                </li>
                <li>Provide recommendations to the island authorities.</li>
            </ul>
        </div>
        <div class="col col-lg-4">
            <h4>Mission Directives</h4>
            <ul>
                <li>Recruit Communications, Hurricane, and Evacuation Teams.</li>
                <li>Prepare teams for the predicted events.</li>
            </ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>