@model IEnumerable<OMNext.Models.RunningMission>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <form asp-action="DisplayCLCUsage" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" id="startDate" name="startDate" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <input type="button" class="btn btn-default" value="Go Back" onclick="location.href='@Url.Action("Index", "Administrators")'" />
                </div>
            </div>
        </div>
    </form>
</div>