@model OMNext.Models.Administrator
@{
    ViewData["Title"] = "Edit Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="light-text">@ViewData["Message"]</h2>

    <form asp-action="ModifyAdministrator">
        <div asp-validation-summary="ModelOnly" class="danger"></div>
        <input type="hidden" asp-for="AdministratorID" />
        @{ await Html.RenderPartialAsync("_AdminEditorFormPartial"); }
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}